// Bootstrap scss
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

.container#content {
  padding: 100px 0px 200px 0px;
  max-width: 768px;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4a4a4a;
  font-family: "Nanum Gothic", sans-serif;

  button,
  input,
  optgroup,
  select,
  textarea,
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .ml-auto {
    margin-left: auto;
  }
}
